* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightseagreen;
}
header {
  background-color: aliceblue;
  padding: 20px;
}
header > h1 {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
}
.score-board {
  border: 5px solid white;
  margin: 50px auto;
  width: 300px;

  border-radius: 5px;
  font-size: 45px;
  position: relative;
  text-align: center;
  padding: 15px 20px;
  position: relative;
}
.badges {
  background-color: red;
  padding: 5px 10px;
  font-size: 14px;
  color: white;
}
#user-label {
  position: absolute;
  top: 30;
  left: -20;
}
#computer-label {
  position: absolute;
  top: 30;
  right: -30;
}
.result {
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.choices {
  margin: 30px 0;
  text-align: center;
}

.choice {
  display: inline-block;
  padding: 10px 10px;
  border: 5px solid grey;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.choice > img {
  width: 150px;
  height: 150px;
  border: 5px solid grey;
  border-radius: 50%;
}
.choice:hover {
  cursor: pointer;
  background: royalblue;
}

#action-message {
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
